.footer {
  background-color: #2F324B;
  padding-top: 45px;
  padding-bottom: 45px;
}

.footer__wrapper {
  padding-left: 71px;
  margin: 0;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 100px;
}

.footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.footer__wrapper-logo {
  display: flex;
  gap: 19px;
  align-items: center;
}

.footer__wrapper-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-top: 1px;
}

.footer__wrapper-call {
  display: flex;
  flex-direction: column;
}

.footer__call_number {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 6px;
}

.footer__call_callback {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-color: var(--color-main);
  padding-bottom: 4px;
}

.footer__link {
  display: none;
}

.footer__wrapper-author {
  display: none;
  background-color: #2A2C3F;
  height: 47px;
}

.footer__author {
  font-size: 20px;
  line-height: 28px;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .footer {
    padding-top: 37px;
    height: 158px;
  }

  .footer__wrapper {
    padding-left: 0;
  }

  .footer__list {
    padding-right: 30px;
  }

  .footer__logo {
    height: 60px;
    width: 60px;
  }

  .footer__call_number {
    font-size: 21px;
    line-height: 25px;
  }

  .footer__call_callback {
    font-size: 13px;
    line-height: 15px;
  }

  .footer__text_author {
    padding-right: 21px;
  }
}

@media (max-width: 540px) {
  .footer {
    height: 127px;
    padding-top: 25px;
  }

  .footer__list {
    padding-left: 16px;
    padding-right: 15px;
    margin-bottom: 25px;
  }

  .footer__logo {
    width: 30px;
    height: 30px;
  }

  .footer__wrapper-text {
    font-size: 8px;
    line-height: 11px;
    padding-bottom: 2px;
  }

  .footer__text_copyright {
    padding-bottom: 1px;
  }

  .footer__wrapper-call {
    display: none;
  }

  .footer__link {
    display: flex;
  }

  .footer__author {
    font-size: 12px;
    line-height: 17px;
    font-weight: 500;
  }

  .footer__item_hide {
    display: none;
  }

  .footer__wrapper-author {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}